
.img-portfolio {
	width: 45%;
	margin: 0 15px;
}

@media (max-width: 767px) {
	.img-portfolio {
		width: 100%;
		margin: 10px 0 20px 0;
	}
}

.img-portfolio-thumb {
	width: 128px;
	padding: 2px;
	line-height: 1.42857143;
	background-color: #222222; 
	border: 1px solid #464545; 
	border-radius: 4px; 
	-webkit-transition: all .2s ease-in-out; 
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out; 
	display: inline-block;
}

@media (max-width: 767px) {
	.img-portfolio-thumb {
		width: 96px;
	}
}

#page-footer {
	padding: 15px 0;
	margin-top: 20px;
	min-height: 150px;
	background: #505050; /* Old browsers */
	background: -moz-linear-gradient(top,  #505050 0%, #555555 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505050), color-stop(100%,#555555)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #505050 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #505050 0%,#555555 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #505050 0%,#555555 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #505050 0%,#555555 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#555555',GradientType=0 ); /* IE6-9 */

}