---
layout: default
---

<div class="home">

	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h1 class="title wow fadeIn">
						<span class="text-primary">K</span>evin <span class="text-primary">Mc</span>Carthy
					</h1>
				</div>
				<div class="col-md-7 wow fadeIn" data-wow-delay="1s">
					<p>{{site.description}}</p>
					<p class="">
						<a class="btn btn-info btn-lg" href="/portfolio" role="button">
							<i class="fa fa-fw fa-file-text"></i> View my work
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div>{% include flash.html %}</div>

	<p class="lead">
		Websites serve as the best way to present the company brand to the world, and often act as the first point of contact for clients or customers. From minor tweaks to an entirely new site, web applications and Content Management Systems, I can deliver what you need. <a href="#" class="open-hsbeacon">Drop me a line</a> for more information.
	</p>

	<div class="row">
		<div class="col-sm-4">
			<h3 class="text-center text-info">
				<i class="fa fa-fw fa-map-o fa-4x"></i><br>
				<small>
					Brochure Sites
				</small>
			</h3>
			<p>
				Eye catching and memorable, two traits you want in a brochure site, but it shouldn’t end there.  Showcase your company, products and services dynamically through customer engagement and interaction.  My brochure sites offer the most cost-effective way to achieve this goal, while allowing for technological growth.
			</p>
		</div>
		<div class="col-sm-4">
			<h3 class="text-center text-info">
				<i class="fa fa-fw fa-file-text-o fa-4x"></i><br>
				<small>
					Content Management Systems
				</small>
			</h3>
			<p>
				Having issues with your current Content Management System (CMS), need to create a new one, or not sure which CMS is right for your company? I can help. Here are some of the CMS's I specialize in:
			</p>
			<strong>
				<ul class="list-inline text-center">
					<li>SquareSpace</li>
					<li>WordPress</li>
					<li>Sitecore</li>
				</ul>
			</strong>
		</div>
		<div class="col-sm-4">
			<h3 class="text-center text-info">
				<i class="fa fa-fw fa-code fa-4x"></i><br>
				<small>
					Web Applications
				</small>
			</h3>
			<p>
				From mobile banking to ordering fast food, or setting an appointment to one-stop-shopping, web applications drive the Internet now. The web applications I design work on multiple devices and are tailored-made for your organization. Invite audience interaction, and watch your business grow.
			</p>
		</div>
	</div>

	<p></p>

	<div class="row">
		<div class="col-sm-3 col-xs-6">
			<div class="thumbnail text-info" title="HTML5" data-container="body" data-toggle="_popover" data-placement="top" data-content="">
				<h4 class="text-center">
					<i class="fa fa-fw fa-html5 fa-4x"></i><br>
					<small>
						HTML5
					</small>
				</h4>
			</div>
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="thumbnail text-info" title="Mobile First" data-container="body" data-toggle="_popover" data-placement="top" data-content="">
				<h4 class="text-center">
					<i class="fa fa-fw fa-mobile fa-4x"></i><br>
					<small>
						Mobile First
					</small>
				</h4>
			</div>
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="thumbnail text-info" title="Version Control" data-container="body" data-toggle="_popover" data-placement="top" data-content="">
				<h4 class="text-center">
					<i class="fa fa-fw fa-code-fork fa-4x"></i><br>
					<small>
						Version Control
					</small>
				</h4>
			</div>
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="thumbnail text-info" title="Cloud Storage" data-container="body" data-toggle="_popover" data-placement="top" data-content="">
				<h4 class="text-center">
					<i class="fa fa-fw fa-cloud fa-4x"></i><br>
					<small>
						Cloud Storage
					</small>
				</h4>
			</div>
		</div>
	</div>

	<hr />

	<h3 class="text-center">Most Recent Work</h3>

	<div class="well well-sm">
		<div class="row">
			{% for post in site.posts limit: 4 %}
			<div class="col-sm-3 col-xs-6">
				<a href="{{ post.url | prepend: site.baseurl }}" title="{{post.title}}">
					<p>
						<div class="embed-responsive embed-responsive-16by9">
							<img class="img-responsive center-block" src="/images/portfolio/thumbs/{{ post.image }}" alt="{{post.title}}">
						</div>
					</p>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>

	<a href="{{ '/portfolio' | prepend: site.baseurl }}" class="btn btn-text btn-xs btn-block">See All Work</a>

</div>
