---
layout: default
---

<div class="home">

	<div class="jumbotron">
		<div class="row">
			<div class="col-md-5">
				<h1 class="title"><span class="text-primary">K</span>evin <span class="text-primary">Mc</span>Carthy</h1>
			</div>
			<div class="col-md-7">
				<p>{{site.description}}</p>
				<p>
					<a class="btn btn-info btn-lg" href="/portfolio" role="button">
						<i class="fa fa-fw fa-file-text"></i> View my work
					</a>
				</p>
			</div>
		</div>
	</div>

	<div>{% include flash.html %}</div>

	<div class="row">
		<div class="col-md-7">
			{% include services.html %}
		</div>

		<div class="col-md-5">
			{% include sidebar.html %}
			{% include widget-contact.html %}
		</div>

	</div>

</div>