<footer id="page-footer">

	<div class="container">

		<div class="row">

			<div class="col-sm-7">{% include testimonials.html %}</div>

			<div class="col-sm-5">
				<ul class="nav nav-pills text-center">
					{% if site.github_username %}
					<li><a href="https://github.com/{{site.github_username}}" target="_blank" title="GitHub"><i class="fa fa-github"></i></a></li>
					{% endif %}

					{% if site.bitbucket_username %}
					<li><a href="https://bitbucket.org/{{site.bitbucket_username}}" target="_blank" title="BitBucket"><i class="fa fa-bitbucket"></i></a></li>
					{% endif %}

					{% if site.linkedin_username %}
					<li><a href="https://www.linkedin.com/profile/view?id={{site.linkedin_username}}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
					{% endif %}

					{% if site.facebook_username %}
					<li><a href="https://facebook.com/{{site.facebook_username}}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
					{% endif %}

					{% if site.twitter_username %}
					<li><a href="https://twitter.com/{{site.twitter_username}}" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					{% endif %}

					{% if site.google_plus_username %}
					<li><a href="https://google.com.com/{{site.google_plus_username}}" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a></li>
					{% endif %}

					{% if site.email %}<li><a href="mailto:{{site.email}}" title="Email"><i class="fa fa-envelope"></i></a></li>{% endif %}
				</ul>
			</div>

		</div>

	</div>

</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>