<footer id="page-footer">

	<div class="container">

		<div class="row">

			<div class="col-sm-7">{% include testimonials.html %}</div>

			<div class="col-sm-5">
				<ul class="nav nav-pills text-center">
					<li><a href="#" title="GitHub"><i class="fa fa-github"></i></a></li>
					<li><a href="#" title="BitBucket"><i class="fa fa-bitbucket"></i></a></li>
					<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" title="Google+"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" title="Email"><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>

		</div>

	</div>

</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>