<div class="well">
	<form action="http://getsimpleform.com/messages?form_api_token=68ed36853aa11c126e1c160d9c4b21cd" method="post" class="form-horizontal">
		<input type='hidden' name='redirect_to' value='http://kaymic.com/thank-you/' />
		<fieldset>
			<legend>Contact Me</legend>
			
			<div class="form-group">
				<label for="inputName" class="col-lg-2 control-label">Name</label>
				<div class="col-lg-10">
					<input class="form-control" id="inputName" placeholder="Name" name="Name">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputEmail" placeholder="Email" name="Email">
					<!-- <div class="checkbox">
						<label>
							<input type="checkbox"> Checkbox
						</label>
					</div> -->
				</div>
			</div>
			<div class="form-group">
				<label for="textArea" class="col-lg-2 control-label">Message</label>
				<div class="col-lg-10">
					<textarea class="form-control" rows="3" id="textArea" name="message"></textarea>
					<!-- <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span> -->
				</div>
			</div>
			<!-- <div class="form-group">
				<label class="col-lg-2 control-label">Radios</label>
				<div class="col-lg-10">
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
							Option one is this
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							Option two can be something else
						</label>
					</div>
				</div>
			</div> -->
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<a href="/services" class="btn btn-default">Cancel</a>
					<button type="submit" class="btn btn-info">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>