---
layout: portfolio
title: Portfolio
---

<div class="row masonry-container" id="portfolio-items">
	{% for post in site.posts %}
	<div class="masonry-item col-xs-6 col-sm-4 col-md-4 col-lg-3 wow fadeInUp">
		<div class="panel panel-default">
			{% if post.image %}
			<a href="{{ post.url | relative_url }}">
				<img class="img-responsive center-block" src="/images/portfolio/thumbs/{{ post.image }}" alt="{{post.title}} screenshot">
			</a>
			{% endif %}
			<div class="panel-body">
				<h4>
					{% if post.link_url %}
					<small class="pull-right">
						<a href="{{ post.link_url }}" target="_blank">
							<i class="fa fa-external-link"></i>
						</a>
					</small>
					{% endif %}
					{{ post.title }}
				</h4>
				<ul class="list-inline">
					{% for tag in post.tags %}
					<li class="label label-primary">{{ tag }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
