---
layout: default
---
<div class="post">

	<header class="page-header">
		<h1>{{ page.title }}</h1>
		<p class="meta">
			{{ page.date | date: "%b %-d, %Y" }}
			{% if page.link %} • <a href="{{page.link_url}}" target="_blank">{{page.link}}</a>{% endif %}
			{% if page.author %} • {{ page.author }}{% endif %}
			{% if page.meta %} • {{ page.meta }}{% endif %}
		</p>
	</header>

	<div class="row">
		
		<article class="col-md-8">
			{% if page.image %}
			<img src="/images/{{ page.image }}" class="img-responsive img-thumbnail img-portfolio" title="{{page.title}}" alt="{{page.title}} screenshot" align="right">
			{% endif %}

			{{ content }}
		</article>

		<aside class="col-md-4">{% include sidebar.html %}</aside>

	</div>

</div>